.sale_activity1{
	text-align:left; 
	color: white; 
	font-size: 16px;
	width: 68%;
}

.sale_activity2{
	text-align:right;
	color: white; 
}

.sale_activity3{
	color: white;
	text-align:left;
}

.sa_table{
	width: 90%; 
	color: #fff; 
	margin:15px; 
	font-size:12px
}