/* PRODUCTS Page */
#pageAside.products_aside .arrow {
	background-position: right 25px;
}
.products_holder {

}
.product_holder {
	width: 21.9%;
	height: 27.3%;
	margin-bottom: 3%;
	margin-right: 2%;
	float: left;
	position: relative;
	cursor:pointer;
}
.product_holder table{
	width:90%;
	height:90%;
}
.product_item{
	border: 1px solid #c2c2c2;
	display:table-cell;
	vertical-align: middle;
}
.product_item img{
	width:50%;
	height:auto;
	margin:0 auto;
	display:block;
}
.product_title {
	font-size: 22px;
	color: #596175;
	font-weight: normal;
}
#products_holder.contentWrapper {
	padding: 90px 0 0;
}

#gallery a{
	background-image: url('../img/icon_products_1.png'); 
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size:30px 30px;
}
#gallery.active a{
	background-image: url('../img/icon_products_1_active.png');
}

#general a{
	background-image: url('../img/icon_products_2.png'); 
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size:30px 30px;
}
#general.active a{
	background-image: url('../img/icon_products_2_active.png'); 
}

#pageAside{
	position: relative;
}
#aside_nav, #aside_nav_cust, #aside_nav_activities{
	position:fixed;
	bottom:0;
	height:68px;
	text-align:center;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	background:#414141;
	z-index:1;
}
#aside_nav div, #aside_nav_cust div,  #aside_nav_activities div{
	float:left;
	width:147px;
	height:23px;
	padding:42px 0 0;
	cursor:pointer;
	position:relative;
	z-index:100;
}
#aside_nav div.active, #aside_nav_cust div.active,  #aside_nav_activities div.active{
	padding:43px 0 0;
	height:23px;
	background-position:center 8px;
}
#all_products{
	background: url('../img/products.png') no-repeat center 7px;
	background-size:27px;
	border-top:1px solid #1f1f1f;
	border-right:1px solid #1f1f1f;
}
#categories{
	background: url('../img/categories.png') no-repeat center 7px;
	background-size:24px;
	border-top:1px solid #1f1f1f;
	border-left:1px solid #1f1f1f;
}
#all_products.active{
	background-color:#2b2b2b;
	background-image:url('../img/products_active.png');
	border:none;
}
#categories.active{
	background-color:#2b2b2b;
	background-image:url('../img/categories_active.png');
	border:none;
}

#listed_categories{
	display:none;
}