/*
@font-face {
	font-family: 'HelveticaBQ-Light';
	src: url('fonts/HelveticaBQ-Light.eot');
	src: local('☺'), url('fonts/HelveticaBQ-Light.woff') format('woff'), url('fonts/HelveticaBQ-Light.ttf') format('truetype'), url('fonts/HelveticaBQ-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/

body {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}

body, html { height: 100%; }
* { margin: 0; padding: 0; outline: none; }
img { border: none; }
a {	text-decoration: none; color: inherit; }
input:not([type=checkbox]) {
	-webkit-appearance: none;
}

.group:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.group { display: inline-block; clear: both; }
/* start commented backslash hack \*/ * html .group { height: 1%; } .group { display: block; } /* close commented backslash hack */

.clear { clear: both; }

/* Disable Zoom in IE10 */
a, input, button { -ms-touch-action: none !important; }

.relative { position: relative; }
.left { float: left; }
.right { float: right; }
.page_wrapper {	width: 100%; height: 100%; }
.lowercase { text-transform: lowercase !important; }
.pc50 {width: 50%;}

/* START Loading animation */
	#loadingBar, #loadingBar2, #inner_loadingBar_map {
		background: #fff;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}
#loadingBar2 {
	z-index: 9;
	margin-top:60px;
}
#inner_loadingBar_map {
	z-index: 9;
	opacity: 0.8;
	height: 90%;
	margin-top: 10%;
}
/* END Loading animation */


/* Login Screen START */
.full_size{
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#login{
	width:26.8%;
	height:100%;
	margin:0 18px 0 0;
	padding:0 1.48% 0% 1.48%;
	overflow: auto;
}
#login > .separator{
	margin-top:30px;
}
#login_logo{
	margin:43px 0 0;
	display:block;
}
.separator{
	margin:22px 0;
	width:100%;
}
.label{
	margin:25px 0 5px;
}
.custom_input{
	width:96%;
	padding:5px 2%;
	height:31px;
	border-radius:5px;
}
.customSelect {
	width: 98.7%;
	height: 46px;
	margin-top: 6px;
	margin-bottom: 6px;
}
.fit_37 {
	height: 37px;
}

.customSelect2 {
	width: 100%;
	height: 48px;
}
.clean_button{
	line-height:18px;
	padding:15px;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.warningMsg {
	margin-top: 90px;
	padding-top: 20px;
}
/* Login Screen END */


/* Page Header START */
#pageHeader {
	width: 100%;
	height: 67px;
	background-color: #005282;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 11;
	border-bottom: 1px solid #00395d;
}
.header_logo {
	display: block;
}
/* Page Header END */

/* START Changes after Villiger Transport */
/* Settings Header START */
#settingsHeader {
	width: 100%;
	height: 67px;
	background-color: #005282;
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 1px solid #00395d;
}

.settings_title {
    text-align: center;
    margin:0px 0px 0px 25%;
    line-height:67px;
    height:67px;
    width: 50%;
    font-family: 'HelveticaBQ-Light', Arial, sans;
    font-size:22pt;
    color: #ffffff;
}
/* Settings Header END */

/* Settings Input */
.settings {
    position: relative;
    width: 98%;
    height:31px;
    float:right;
    margin-right:10px;
    padding-left:5px;
    font-size: 16px;
    font-family: 'HelveticaBQ-Light', Arial, sans;
}
/* END Changes after Villiger Transport */


/* Page Main Nav START */
#pageNav > ul{
	padding-left: 206px;
	padding-right: 57px;
	height: 68px;
}
#pageNav > ul > li {
	position: relative;
	float: left;
	width: 16%;
	text-align: center;
	height: 68px;
	list-style: none;
}
#pageNav > ul > li > a {
	display: block;
	padding-top: 25px;
	height: 43px;
}
#pageNav > ul > li > .active_arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -10px;
	z-index: 2;
	display: block;
	width: 0px;
	height: 0px;
}
#refreshBut {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
/* Page Main Nav END */


/* Page Aside */
#pageAside {
	margin-top: 68px;
	width: 295px;
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
#pageAside.fixedScrollBox {
	margin-top: 127px;
}
#pageAside ul {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
#pageAside ul li{
	list-style: none;
	overflow: hidden;
	min-height: 63px;
	position: relative;
	left: 0;
	top: 0;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
#pageAside.products_aside ul li{
	/*height:57px;*/
	padding-bottom: 10px;
	min-height:57px;
}
#pageAside ul li a, #pageAside ul li > div{
	display: block;
	height: 100%;
	position: relative;
}
#pageAside ul li a span {
	display: block;
}
#pageAside ul li a .name {
	padding: 12px 10px 4px 18px;
}
#pageAside ul li a .number {
	font-size: 12px;
	padding: 0 10px 0 18px;
	float: left;
}
#pageAside ul li a .distance {
	padding: 0 3px;
	border-radius: 5px;
	margin-right: 27px;
	float: right;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -7px;
}
#pageAside ul li a .distance.home {
	margin-top: -24px;
}
#pageAside ul li a .address{
	padding: 4px 10px 12px 18px;
}

#customers_reports .reportTable tr{
	text-indent: 0px !important;
	line-height: 20px !important;
}

td.address,
#customers_reports .reportTable thead th:nth-child(1){
	padding-left: 18px !important;
}

.hidden{
	display:none !important;
}
.search_holder {
	position: relative;
}
.fixed_search_holder,
.fixed_back_holder {
	position: absolute;
	top: 68px;
	left: 0;
	z-index: 1;
	background-color: #2b2b2b;
	width: 295px;
	border-bottom: 1px solid #1A1B1C;
}
.search_del {
	display: none;
	position: absolute;
	right: 69px;
	top: 19px;
	z-index: 1;
	width: 20px;
	height: 20px;
	background: url(../img/search_del.png) no-repeat right center;
	background-size: 20px 20px;
}
.search_holder .search_icon,
.fixed_search_holder .search_icon {
	position: absolute;
	right: 24px;
	top: 20px;
}
.search_holder input,
.fixed_search_holder input {
	width: 215px;
	margin: 14px 15px;
	padding: 8px 35px 8px 10px;
	border: none;
	border-radius: 5px;
}
.back_button {
	padding: 18px 0 18px 20px;
	background: url('../img/back_arrow.png') no-repeat 14px center;
	background-size:auto 17px;
	fnt: 17px;
	color:#fff;
	text-transform:uppercase;
}
/* Page Aside END */


/* Page Section START */
#pageContent {
	position: relative;
	height: 100%;
	margin: 0 0 0 295px;
}
#pageContent_Reminder {
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0 10px 0 0;
}
#pageContent > .wrapper {
	padding: 68px 0 0 0;
	min-height: 550px;
}
#pageContent > .contentWrapper {
	margin: 0 20px;
	padding: 68px 0 0 0;
	min-height: 550px;
	position: relative;
}
#pageContent .addNew_wrapper {
	position: relative;
}
.scrollable_popup,
.scrollable {
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
/* Page Section END */


/* START - Swipe */
.cart{
	display:none;
	height:57px;
	background: #e2382a;
	min-width:57px;
	float:left;
	margin:0 18px 0 0;
	position:relative;
}
.cart_icon{
	background: url('../img/cart.png') #00466f no-repeat center center;
	width:57px;
	height:57px;
	position:absolute;
	right:0px;	
}
.cart_icon.active_width{
	width:69px;
}
.products_count{
	display:none;
	width:45px;
	height:26px;
	line-height:26px;
	text-align:center;
	position:absolute;
	background:#4eb5e5;
	border-radius:20px;
	right:49px;
	top:16px;
	z-index:1;
	color: #e2382a;
}
/* END - Swipe */


/* START -  Changes of products layout - removing a tag */
#pageAside ul li div .name {
	padding: 12px 25px 4px 18px;
}
#pageAside ul li div span {
	display: block;
}
#pageAside ul li div .number {
	font-size: 12px;
	padding: 0 10px 0 18px;
	pointer-events: none;
}
#pageAside ul li div .number a{
	font-size: 12px;
}
#pageAside ul li{
	background: url('../img/aside_arrow.png') no-repeat center right;
	background-size: auto 15px;
}

/* START - All products and Categories */
	#aside_nav, #aside_nav_cust,#aside_nav_reminders, #aside_nav_activities{
		position:fixed;
		bottom:0;
		height:68px;
		text-align:center;
		color:#ffffff;
		font-size:14px;
		text-transform:uppercase;
		background:#414141;
		z-index:1;
	}
	#aside_nav_reminders{
		width: 100%;
	}
	#aside_nav_reminders a{
		width:50% !important;
	}
	#aside_nav a, #aside_nav_cust a, #aside_nav_reminders a, #aside_nav_activities a{
		display: block;
		color: #fff;
		float:left;
		width:147px;
		height:23px;
		padding:42px 0 0;
		cursor:pointer;
		position:relative;
		z-index:100;
	}
	#aside_nav a.active, #aside_nav_cust a.active,  #aside_nav_reminders a.active, #aside_nav_activities a.active{
		padding:43px 0 0;
		height:23px;
		background-position:center 8px;
	}
	#all_products, #lastproducts{
		background: url('../img/products.png') no-repeat center 7px;
		background-size:27px;
		border-top:1px solid #1f1f1f;
		border-right:1px solid #1f1f1f;
	}
	#categories{
		background: url('../img/categories.png') no-repeat center 7px;
		background-size:24px;
		border-top:1px solid #1f1f1f;
		border-left:1px solid #1f1f1f;
	}
	#all_products.active, #lastproducts.active{
		background-color:#2b2b2b;
		background-image:url('../img/products_active.png');
		border:none;
	}
	#categories.active{
		background-color:#2b2b2b;
		background-image:url('../img/categories_active.png');
		border:none;
	}

/*  END - All products and Categories */
/* END -  Changes of products layout - removing a tag */


/* Customer Screen - START */
#information_holder,
.header_info_holder {
	height:190px;
	width:100%;
	padding:20px 0;
	margin-top: 20px;
	border-radius: 5px;
}
.header_info_holder {
	height: auto;
}
.info_bigBox {
	width: 72%;
}
#order_details #information_holder{
	height:170px;
}
#information_holder div{
	float:left;
}
#avatar{
	vertical-align: middle;
	/*width:158px;*/
	width: 23%;
	max-width: 158px;
	height:158px;
	/*margin:0 0 0 20px;*/
	margin:0 0 0 2.26%;
	text-align: center;
	float:left;
}
#actual_info{
	min-width:271px;
	/*max-width: 470px;*/
	/*margin:0 0 0 25px;*/
	width: 72%;
	margin: 0 0 0 2.26%;
}

.icon{
	width:24px;
	margin:0 16px 0 0;
}
#company, #username, #address{
	float: left;
}
#company {
	/*max-width: 340px;*/
	max-width: 290px;
}
#username {
	max-width: 230px;
}
#address {
	line-height: 20px;
}
.rows{
	padding:0 0 17px;
	width: 100%;
}
.default_row {
	padding:0 0 17px;
}
.responsive_lines {
	padding:0 0 0 55px;
}
#order_details .rows{
	padding:0 0 6px;
}
#user,#place{
	clear:both;
}
#place{
	line-height:22px;
}
#navigation{
	position: absolute;
	top: 105px;
	right: 18px;
}
.no_highlighting{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:pointer;
}
#personal_information {
	margin: 0 0 0 0;
}
#customers #personal_information,
#personDetails_holder #personal_information,
#sales_activities #sale_activity_information {
	margin: 0 0 0 20px;
}
#customers .rows,
#customers2 .rows {
	padding: 0 1% 8px 0px;
}
#customers #additional_info .icon,
#customers2 #additional_info .icon{
	width: 25px;
}

.info_column{
	width:31.5%;
	float:left;
	min-height: 95px;
	margin:0 1.8% 0 0;
}
.info_column_wrapper {
	padding: 0 0 0 15px;
}
.info_column span, .info_column a {
	display: block;
	min-height: 23px;
	line-height: 23px;
}
.title{
	padding:0 0 10px;
	margin:17px 0 0;
}
.info{
	padding:0 0 22px;
}
.second_row{
	border-bottom: none;
}
#directions-panel {
	display: none;
	position: absolute;
	top: 230px;
	left: 0;
	padding: 10px;
	width: 300px;
	padding: 0 10px;
	border-radius: 5px;
	z-index: 5;
	background: rgba(255, 255, 255, 0.9);
	font-size: 12px;
	max-height: 400px;	
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}
/* Customer Screen - END */


/* Customers Down Nav START */
#pageDownNav {
	/*
	position: absolute;
	bottom: 0;
	left: 0;
	*/
	width: 100%;
	height: 66px;
}
#pageDownNav.remindersBottomNav{
	 background-color: #414141 !important;
}
#pageDownNav ul, #pageDownNav ul li {
	height: 100%;
}
#pageDownNav ul li {
	width: 16.4%;
	float: left;
	list-style: none;
}
#pageDownNav ul li:first-child {
	border-left: none;
}
#pageDownNav ul li:last-child {
	border-right: none;
	width: 17.05%;
}
#pageDownNav.DownNavSalesActivities ul li,
#pageDownNav.downNav_products ul li,
#pageDownNav.pageDownNavOrder ul li {
	width: 20%;
}
#pageDownNav ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
#pageDownNav ul li a span {
	display: block;
	padding-top: 43px;
}
#pageDownNav ul li a img {
	padding: 9px 0 0 0;
	height: 27px;
	width: auto;
}
/* Customers Down Nav END */


/* Customers Quick Menu START */
.quickNav_holder {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
.quickNav {
	position: absolute;
	bottom: 85px;
	right: 40px;
	z-index: 3;
}
.default_circle {
	display: block;
	border-radius: 50%;
}
.but_circle {
	transform:rotate(45deg);
	-ms-transform:rotate(45deg); /* IE 9 */
	-webkit-transform:rotate(45deg); /* Safari and Chrome */
}
.circles_holder {
	position: absolute;
	bottom: 125px;
	right: 40px;
	list-style: none;
}
.circles_holder li {
	height: 44px;
	cursor: pointer;
	margin: 25px 0;
}
.circles_holder a {
	float: right;
}
.circles_holder span {
	float: right;
	display: block;
}
/* Customers Quick Menu END */


/* Around Me Screen START */
#map-canvas {
	height: 100%;
	z-index: 1;
}
.wrapper_contacts_map {
	margin: 0 -20px !important;
}
#map_zoomLevel {
	position: absolute;
	top: 50%;
	margin-top: -125px;
	right: 0;
	z-index: 2;
	height: 251px;
	width: 130px;
}
#map_zoomLevel ul {
	height: 250px;
	border-right: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#map_zoomLevel ul li {
	list-style: none;
	float: left;
	width: 100%;
	height: 20%;
}
#map_zoomLevel ul li a {
	display: block;
	width: 100%;
	height: 50px;
}
#map_zoomLevel ul li:last-child a {
	border-bottom: none;
}
#map_zoomLevel ul li a .zoom_icon {
	margin-top: 12px;
	float: left;
}
#map_zoomLevel ul li a span {
	display: block;
	padding-top: 15px;
	padding-left: 7px;
	float: left;
}
/* Around Me Screen END */


/* Tables Styles START */
.customTable, .customTable_dynamic, .defaultTable {
	border: 0;
	padding: 0;
	width: 100%;
	border-spacing:0;
	border-collapse:collapse;
	margin: 20px 0;
}
.defaultTable tr,
.customTable tr  {
	vertical-align: text-middle;
	text-align: left;
}
.defaultTable td,
.defaultTable th {
	padding: 15px 2%;
	word-break:break-all;
}
.customTable tr {
	height: 50px;
	line-height:50px;
	text-indent: 18px;
}

.customTable_dynamic th {
	vertical-align: middle;
	text-align: center;
	min-height: 50px;
	padding: 8px 0;
	line-height: 17px;
	padding-left: 2%;
}
.customTable_dynamic tr {
	vertical-align: middle;
	text-align: left;
	height: 50px;
	width: 100%;
}
.customTable_dynamic td {
	padding-left: 2%;
	vertical-align: middle;
}
.customTable_dynamic td:nth-child(1),
.customTable_dynamic th:nth-child(1) {
	width: 38%;
}
.customTable_dynamic td:nth-child(2),
.customTable_dynamic th:nth-child(2) {
	width: 25%;
}
.customTable_dynamic td:nth-child(3),
.customTable_dynamic th:nth-child(3) {
	width: 11%
}
.customTable_dynamic td:nth-child(4),
.customTable_dynamic th:nth-child(4) {
	width: 9%;
}
.customTable_dynamic td:nth-child(5),
.customTable_dynamic th:nth-child(5) {
	width: 7%;
}


.reportTable tbody tr {
	cursor: pointer;
}
.reportTable td {
	width: 50%;
}
.defaultBut, .noMarginBut {
	height: 33px;
	text-indent: 25px;
	line-height: 33px;
	border-radius: 5px;
	padding: 0 15px;
}
.back{
	/*margin-right:10px;*/
}

#ordersDiv {
	overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
}

.littleRightNav #navigation{
	top: 10px;
	right: 12px;
}
.littleRightNav .editDelBut{
	min-width: 32px;
	text-align: center;
	text-indent: 0;
	float: left;
	margin-left: 10px;
	padding-left:34px;
}
#personDetails_holder .delete {
	min-width: 55px;
	/*text-indent: 0;*/
	text-align: center;
	/*margin-right: 90px;*/
}

.addNewPerson_input {
	padding: 3px 5px;
	/*margin: 5px 17px;*/
	margin: 5px 0;
	width: 95%;
	height:31px;
}

.addNewPerson_input2 {
	padding: 3px 5px;
	/*margin: 5px 17px;*/
	margin: 5px 0;
	width: 92%;
	height:40px;
}

.littleRightNav .info{
	padding: 0 0 15px;
}
.addNewContactTable .separator {
	height: 30px;
}
.addNewContactTable tbody span {
	line-height: 30px;
}
/* Tables Styles END */


/* Products Page - START */
#pageAside.products_aside .arrow {
	background-position: right 25px;
}

#bg {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
	z-index:2009;
}
#bg img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto;
	max-width:10%;
	z-index:100;
}

#products_holder {
	height: 100%;
}
#products_holder.contentWrapper {
	/*padding: 80px 0 0;*/
	/*margin:0 0 0 2%;*/
	margin: 0;
	padding: 78px 0 0 0;
}

/*
.product_holder {
	width: 23%;
	height: 27.3%;
	margin-bottom: 3%;
	margin-right: 1%;
	margin-left:1%;
	float: left;
	position: relative;
	cursor:pointer;
}
.product_holder table{
	width:90%;
	height:90%;
}

.product_item{
	border: 1px solid #c2c2c2;
	display:table-cell;
	vertical-align: middle;
}
.product_item img{
	width:50%;
	height:auto;
	margin:0 auto;
	display:block;
}
*/
.product_holder {
	width: 22%;
	height: 31%;
	margin: 1% 1%;
	float: left;
	position: relative;
	cursor:pointer;
}
.product_holder:nth-child(4n) {
	margin-right: 3%;
}
.product_holder:nth-child(4n + 1) {
	margin-left: 3%;
}
.product_holder .product_img {
	height: 64.5%;
	width: 100%;
	border: 1px solid #c2c2c2;
	text-align: center;
}
.product_holder .product_img img {
	max-width: 80%;
	width: auto;
	height: 80%;
	padding: 10px 0;
}
.product_holder .product_title {
	height: 35%;
	width: 100%;
	overflow: hidden;
}
.product_holder .product_title span{
	display: block;
	padding: 5px;
	font-size: 18px;
	line-height: 20px;
}


#product_detail_holder {
	/*position:relative;*/
	/*padding: 90px 0 0;*/
	display:none;
}
#head_information{
	width:100%;
	/*padding: 20px;*/
	margin-top: 20px;
}
#head_information table{
	border-spacing:0;
	border:0;
	margin:20px;
	float:left;
}
.product{
	width:160px;
	height:160px;
	display:table-cell;
	vertical-align: middle;
	cursor:pointer;
}
#product_count{
	padding:1% 0;
}
.product img{
	width:50%;
	margin:0 auto;
	display:block;
}
#product_information{
	width:70%;
	margin-top: 20px;
	float:left;
}
#product_information h2{
	padding:0;
	margin:0;
}
.productsTable{
	width:100%;
	margin:10px 0;
}


.productsDTable div:first-child{
	float:left;
	width:52%;
	font-weight: bold;
	color:#596175;
}

.productsDTable div:last-child{
	color:#596175;
	text-transform:uppercase;
	font-weight: normal;
}

.productsTable:last-child{
	margin:10px 0 20px;
}


.productsTable div:first-child{
	float:left;
	width:40%;
}
#dialog_product_details .productsTable div:first-child{
	float: none;
	width: auto;
}
.productsTable tbody tr {
	cursor: pointer;
}
.productsTable tr td:first-child {
	border-right: 1px solid #d8dadf;
}
.productsTable tr th:first-child {
	border-right: 1px solid #c2c5cd;
}
.productsTable td {
	width: 50%;
}

.fullScreen_img {
	width: 100%;
	height: 100%;
	position:absolute;
	z-index: 12;
	top:0;
	left:0;
	background-color: #fff;
	text-align: center;
	display: none;
	/*padding: 5%;*/
	margin: 0;
	padding: 0;
}
.fullScreen_img img {
	height: 90%;
	max-width: 90%;
	margin: 4% 0 0 0;
	padding: 0;
	width: auto;
}

#gallery a{
	background-image: url('../img/icon_products_1.png'); 
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size:30px 30px;
}
#gallery.active a{
	background-image: url('../img/icon_products_1_active.png');
}

#general a{
	background-image: url('../img/icon_products_2.png'); 
	background-repeat: no-repeat;
	background-position: center 7px;
	background-size:30px 30px;
}
#general.active a{
	background-image: url('../img/icon_products_2_active.png'); 
}
/* Products Page - END */

/* START - CustomAlert */
	#overlap{
		display:none;
		/*background:url('../img/overlap.png') repeat;*/
		background-color: transparent;
		/*background-color: rgba(0, 0, 0, 0.4);*/
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:8888;
	}
	/*Product Pop Up*/
	.popUp_overlap {
		display:none;
		background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat;
		opacity: .50;
		background-color: rgba(0, 0, 0, 0.4);
		width:100%;
		height:100%;
		position:absolute;
		top:0;
		left:0;
		z-index:10;
	}
	#message{
		display:none;
		width:500px;
		position:fixed;
		top:0px;
		left:50%;
		margin:0 0 0 -250px;
		background:#e1e1e1;
		z-index:9999;
		border:1px solid #d1d1d1;
		border-bottom-left-radius:3px;
		border-bottom-right-radius:3px;
	}
	#message_header{
		padding:0 12px;
		line-height:49px;
		color: #e2382a;
		text-transform:uppercase;
	}
	#message_heading{
		float:left;
	}
	#message_close{
		float:right;
		margin:11px 0 0;
		width:21px;
		height:21px;
		background:url('../img/message_close.png');
		background-size:21px;
		cursor:pointer;
	}
	#message ul{
		padding:0;
		margin:0;
		clear:both;
	}
	#message li{
		list-style:none;
		padding:20px 0 20px 38px;
		font-size:14px;
		color:#7d7d7d;
		border-top:1px solid #d1d1d1;
		vertical-align: middle;
	}
	#message li.error{
		background:url('../img/message_error.png') 12px center no-repeat;
		background-size:21px;
	}
	#message li.success{
		background:url('../img/message_success.png') 12px center no-repeat;
		background-size:21px;
	}
	#message li.information{
		background:url('../img/message_information.png') 12px center no-repeat;
		background-size:21px;
	}
	#message li.warning{
		background:url('../img/message_warning.png') 12px center no-repeat;
		background-size:21px;
	}
/* END - CustomAlert */


/* Home Screen START */
#customers_around{
	width:350px;
	margin-right:30px;
	float:left;
}
#product_highlights{
	width:350px;
	float:left;
	position: relative;
}
#pageContent.home{
	margin:0;
	/* background-image:url('../img/home_background.png'); */
    opacity: 10%;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#pageContent.home > .contentWrapper {
	width:735px;
	margin:0 auto;
}
.home{
	padding:0;
}
.home h1{
	font-size:24px;
	color:#74797c;
	text-transform:uppercase;
	padding:20px 0 10px 0;
	margin:0;
	line-height:48px;
	font-weight:normal;
	letter-spacing:1px;
}
.home ul{
	padding:0;
	margin:0;
	list-style:none;
}
.home li{
	height:87px;
	position:relative;
}
.hexagon{
	width:76px;
	height:50px;
	background-image:url('../img/home_block_background.png');
	background-position:0 0;
	background-size:76px 87px;
	background-repeat:no-repeat;
	position: relative;
	z-index:1;
	text-align:center;
	color:#fff;
	padding-top:37px;
	font-size:20px;
	line-height:11px;
}
/*
#customers_around .hexagon.position1,{
	background-position:0 0;
}
#customers_around .hexagon.position2{
	background-position:0 -88px;
}
#customers_around .hexagon.position3{
	background-position:0 -175px;
}
#customers_around .hexagon.position4{
	background-position:0 -262px;
}
#customers_around .hexagon.position5{
	background-position:0 -349px;
}
#customers_around .hexagon.position6{
	background-position:0 -436px;
}
#customers_around .hexagon.position7{
	background-position:0 -523px;
}
*/

/*#product_highlights .hexagon.position1{
	background-position:0 0;
}
#product_highlights .hexagon.position2{
	background-position:0 -87px;
}
#product_highlights .hexagon.position3{
	background-position:0 -174px;
}
#product_highlights .hexagon.position4{
	background-position:0 -261px;
}
#product_highlights .hexagon.position5{
	background-position:0 -348px;
}
#product_highlights .hexagon.position6{
	background-position:0 -435px;
}
#product_highlights .hexagon.position7{
	background-position:0 -523px;
}*/
.km{
	font-size:10px;
	line-height:10px;
	text-transform: uppercase;
}
.hexagon img{
	width:42px;
	height:auto;
}

/*#product_highlights .hexagon{
	background-image:url('../img/hexagon_products.png');
	padding:0;
	height:88px;
}
#product_highlights .hexagon td{
	width:76px;
	height:88px;
}*/
.home li.even, .home li.odd{
	margin-top:-18px !important;
}

.home ul li:first-child{
	margin-top:0 !important;
}
.home li.even{
	margin-left:39px;
}
.home .customer_info{
	width:320px;
	height:62px;
	background-image:url('../img/customers_around.png');
	background-repeat:repeat-y;
	position:absolute;
	top:0;
	padding-top:26px;
	color:#7d8082;
	font-size:16px;
}
.home li.even .customer_info{
	left:42px;
	padding-left:48px;
	overflow: hidden;
}
.home li.odd .customer_info{
	left:36px;
	background-image:none;
	padding-left:56px;
	overflow: hidden;
}

.home ul li:first-child .customer_info, .home ul li:last-child .customer_info{
	background-image:url('../img/customers_around.png') !important;
}
/* Home Screen END */


.column2 {
	width: 48%;
	padding-right: 1%;
}
.w480 {
	width: 480px;
}


/* Customers Fix */
#customers #information_holder,
#customers2 #information_holder {
	height: auto;
	padding-bottom: 0;
	min-height: 175px;
}

/*
#home_layout{
	background-color:#f9f9f9;
}
#home_layout #pageAside{
	width: 47%;
	overflow-y: hidden;
	background:none;
}
#home_layout #pageAside ul{
	overflow-y:scroll;
	background:#2b2b2b;
	width:99%;
}
#home_layout #pageContent{
	margin: 0 0 0 49%;
}
#home_layout .page_wrapper{
	padding:0 2%;
	width:96%;
}
.heading{
	font-size:16px;
	padding:0 0 3%;
}
#home_layout .swiper-slide{
	float:left;
}

#home_procuts_slider{
	position:relative;
	z-index: 1;
	overflow-x:hidden;
}
#home_layout .product_holder{
	width:48%;
	height:48%;
}
#home_layout #products_holder.contentWrapper{
	padding:0;
}
#home_procuts_slider{
	overflow-y:hidden;
}
*/


#cust_lifsd {
	margin-left: 40px;
}
.bigOrdersTable tr {
	text-indent: 0;
}
.bigOrdersTable th {
	font-size: 15px !important;
}
.bigOrdersTable th, .bigOrdersTable td {
	width: 11.10%;
	text-align: center;
	line-height: 18px;
}
.bigOrdersTable tbody tr td:first-child {
	text-align: left;
}
.bigOrdersTable thead tr:first-child th {
	text-align: left;
	background-color: #e9ebf2
}
.smallerFont {
	font-size: 13px !important;
}
.listViewFlag {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #e2382a;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}

.listViewFlag2 {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: green;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}

.listViewFlag3 {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: yellow;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}

.responsiveArea {
	height: auto !important;
	padding: 20px 0 0 !important;
	min-height: 180px !important;
}
#customers_header .rows{
	padding: 0 0 5px 20px;
	font-size: 14px;
}
#customers_header input {
	height: 30px;
}
#customers_salesDocuments .rows {
	padding-bottom: 5px;
	padding-left: 20px;
	font-size: 14px;
}


.popUp_but {
	width: 30px;
	background-color: #e2382a;
	color: #fff;
	font-weight: 400;
	font-size: 18px;
	line-height: 25px;
	border: 1px solid #9F0E02;
	border-radius: 3px;
}
.popUp_box {
	width: 45px;
	height:25px;
	text-align:center;
	border: 1px solid #ced1da;
}
.popUp_select {
	width: 193px;
	margin-top: 15px;
}
.popUp_add {
	margin-top: 10px;
	margin-left: 6px;
}
.line_height {
	line-height: 25px !important;
	text-align: center;
}
.orderInput {
	width: 80%;
	padding: 5px 2%;
	height: 19px;
	border-radius: 5px;
	margin: 5px 0;
}

#customers_createOrders select {
	width: 100%;
	height: 22px;
}

.reportTable td{
	width: 25%;
}
.ui-dialog-titlebar-close {
	visibility: hidden;
}
.visitdate {
	padding: 0px 10px 10px 18px;
	font-size: 12px;
}

/* HOME PAGE */
#home_nav {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 735px;
	margin-left: -367px;
}

.home_but {
	margin-bottom: 10px;
	height: 50px;
	line-height: 50px;
	border-radius: 5px;
	padding: 0 15px;
	text-indent: 0;
	font-size: 17px !important;
} 

.home_results{
	font-size:20px;
	color:#596175;
}

.visitCusTable{
	/*height: 400px;*/
}
.home_popup_info{
	font-size:20px;
	color:#596175;
}
.start_title{
	width:300px;
	padding-bottom: 10px;
	margin-right:30px;
	display: inline;
	float:left;
	font-size:15px;
}

.end_title{
	height: 35px;
	width:300px;
	padding-top: 10px;
	display: inline;
	float:left;
	font-size:15px;
}

.home_popUp_box{
	/*width: 150px;*/
	width: 100%;
	height:30px;
	text-align:center;
}

.home_popUp_but{
	background-color: #e2382a;
	color: #fff;
	height: 32px;
	width: 100px;
}

.home_popup_title{
	padding:0 0 5px;
	margin:17px 0 0;
	font-size:16px;
	color: #e2382a;
}

.slider-range {
	margin: 20px 0 40px;
	width: 97%;
}
.displayBlock {
	display: inline-block;
}
.signature_box {
	background: #fff;
	border-radius: 3px;
	border: 1px solid #CCC;
	margin: 10px 20px 0 0;
}
.signature_box.active {
	margin-left: 0;
	border-radius: 0px;
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.signature_title {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	width: 100%;
	background: #e2382a;
	color: #fff;
	text-align: center;
	padding: 35px 0 20px;
}
.signature_button_box {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 101;
}
.signature_box_button {
	color: #fff;
	font-size: 16px;
	background-color: #e2382a;
	line-height: 33px;
	border-radius: 5px;
	padding: 0 15px;
	margin-left: 10px;
}


#visitCusTable #pageAside {
	height: 350px !important;
	width: 100%;
}
#visitCusTable #pageAside li {
	height: auto;
	min-height: 65px;
}
#visitCusTable #pageAside li .number{
	padding-bottom: 10px;
}

#sales_activites_add {
	padding: 68px 0 0 0;
	margin: 0 20px;
}
#signature_holder {
	position: relative;
	padding-top: 10px !important;
}
#signature_holder .headerSelect {
	margin-top: 5px;
	width: 160px;
	height: 25px
}

.clear_but {
	position: absolute;
	bottom: 10px;
	right: 3px;
	text-indent: 5px;
}
#dialog_product_details .productsTable{
	margin: 0;	
}
#dialog_product_details .customTable tr{
	text-indent: 0;
	line-height: 20px;
}
#dialog_product_details .customTable th {
	padding: 0 18px;
}
#dialog_product_details .customTable td{
	padding: 10px 18px;
}

.with-close {
	top: 75px !important;
	height: 80% !important;
	left: 5px !important;
}
.with-close .ui-dialog-titlebar-close {
	visibility: visible !important;
	width:24px !important;
	height:22px !important;
	background:url('../img/message_close.png') !important;
	background-size:21px !important;
}
.with-close-productPopup {
	top: 85px !important;
	height: 80% !important;
	left: 315px !important;
	z-index:999;
}

.img5B{
	background-image: url('../img/5B.GIF');
	background-size:15px;
	width:15px;
	height:15px;
	display: block;
	margin:0 auto;
}
.img5C{
	background-image: url('../img/5C.GIF');
	background-size:15px;
	width:15px;
	height:15px;
	display: block;
	margin:0 auto;
}
.img5D{
	background-image: url('../img/5D.GIF');
	background-size:15px;
	width:15px;
	height:15px;
	display: block;
	margin:0 auto;
}

.with-close-productPopup2 {
	top: 85px !important;
	left: 315px !important;
	z-index:999;
}

.with-close-productPopup3 {
	top: 85px !important;
	left: 215px !important;
	z-index:999;
}

.with-close-productPopup4 {
	top: 85px !important;
	left: 70px !important;
	z-index:999;
}

.with-close-productPopup .ui-dialog-titlebar-close {
	display: none;
}
.with-close-productPopup2 .ui-dialog-titlebar-close {
	display: none;
}
#dialog_product_details #product_detail {
	height: auto !important;
}
#dialog_product_details #head_information {
	margin-top: 10px;
}

.productPopUp_nameHolder {
	margin-top: 20px;
	width: 300px;
	text-align: left;
}
.productPopUp_nameHolder #product_id_display {
	font-size: 15px;
	margin-top: 10px;
}

#cust_lifsd, #cust_aufsd, #cust_vsbed {
	color: #e2382a;
}

ul#listed_products, ul#listed_categories {
	margin-top: 58px;
}
ul#listed_categories.noBack {
	margin-top: 0;
}

/* Back button jump fix: */
#listed_categories, #listed_products {
	height: 582px !important;
}


.sortable_table th {
	background: url(../img/sort_arrows_default.png) no-repeat 10px center #ced1da;
	background-size: 10px 21px;
	text-indent: 20px;
}
.sortable_table th.headerSortUp {
	background: url(../img/sort_arrows_up.png) no-repeat 10px center #ced1da;
	background-size: 10px 9px;
}
.sortable_table th.headerSortDown {
	background: url(../img/sort_arrows_down.png) no-repeat 10px center #ced1da;
	background-size: 10px 9px;
}

#totals_group {
	margin-bottom: 20px;
}
.headerSmallNav {
	position: relative;
	z-index: 10;
}


/* Around me map: */
.insideP {
	font-size: 13px;
	color: #525252;
	line-height: 18px;
	margin-bottom: 5px;
}
.insideHr {
	background: #adab9c;
	border: none;
	height: 1px;
}
.insideArrow {
	text-align: right;
	margin: 10px 0 0;
}
.insideImg {
	cursor: pointer;
	position: relative;
	z-index: 10;
}
.insideSpan {
	color: #525252;
	font-size: 17px;
	margin-bottom: 5px;
	display: block;
	font-weight: bold;
}



/* Total width: 88% */
#sales_activities_table tr td:nth-child(1) ,
#sales_activities_table tr th:nth-child(1) {
width: 17%;
}
#sales_activities_table tr td:nth-child(2) ,
#sales_activities_table tr th:nth-child(2) {
width: 16%;
}
#sales_activities_table tr td:nth-child(3) ,
#sales_activities_table tr th:nth-child(3) {
width: 17%;
}
#sales_activities_table tr td:nth-child(4) ,
#sales_activities_table tr th:nth-child(4) {
width: 25%;
}
/*#sales_activities_table tr td:nth-child(5) ,
#sales_activities_table tr th:nth-child(5) {
width: 20%;
}*/




/* Total width: 80% */
#customers_contactsTable tr td:nth-child(1) ,
#customers_contactsTable tr th:nth-child(1) {
	width: 21%;
}
#customers_contactsTable tr td:nth-child(2) ,
#customers_contactsTable tr th:nth-child(2) {
	width: 13%;
}
#customers_contactsTable tr td:nth-child(3) ,
#customers_contactsTable tr th:nth-child(3) {
	width: 14%;
}
#customers_contactsTable tr td:nth-child(4) ,
#customers_contactsTable tr th:nth-child(4) {
	width: 14%;
}
#customers_contactsTable tr td:nth-child(5) ,
#customers_contactsTable tr th:nth-child(5) {
	width: 18%;
	word-wrap: break-word;
}


/* Total width: 76% */
#customers_salesDocuments_ordersTable tr td:nth-child(1) ,
#customers_salesDocuments_ordersTable tr th:nth-child(1) {
	width: 14%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(2) ,
#customers_salesDocuments_ordersTable tr th:nth-child(2) {
	width: 18%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(3) ,
#customers_salesDocuments_ordersTable tr th:nth-child(3) {
	width: 12%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(4) ,
#customers_salesDocuments_ordersTable tr th:nth-child(4) {
	width: 10%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(5) ,
#customers_salesDocuments_ordersTable tr th:nth-child(5) {
	width: 16%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(6) ,
#customers_salesDocuments_ordersTable tr th:nth-child(6) {
	width: 14%;
}
#customers_salesDocuments_ordersTable tr td:nth-child(7) ,
#customers_salesDocuments_ordersTable tr th:nth-child(7) {
	width: 15%;
}



/* Total width: 76% */
#createOrders_articleTable tbody td {
	vertical-align: middle;
}
#createOrders_articleTable tr td,
#createOrders_articleTable tr th {
	padding: 15px 1%;
	word-break: break-word;
}
#createOrders_articleTable tr td:nth-child(1),
#createOrders_articleTable tr th:nth-child(1) {
	width: 13%;
}
#createOrders_articleTable tr td:nth-child(2) ,
#createOrders_articleTable tr th:nth-child(2) {
	width: 17%;
}
#createOrders_articleTable tr td:nth-child(2) {
	font-size: 14px;
}
#createOrders_articleTable tr td:nth-child(3) ,
#createOrders_articleTable tr th:nth-child(3) {
	width: 20%;
	text-align: center;
}
#createOrders_articleTable tr td:nth-child(4) ,
#createOrders_articleTable tr th:nth-child(4) {
	width: 10%;
	text-align: center;
}
#createOrders_articleTable tr td:nth-child(5) ,
#createOrders_articleTable tr th:nth-child(5) {
	width: 14%;
}
#createOrders_articleTable tr td:nth-child(7) {
	width: 12%;
	padding-right: 4%;
	position: relative;
}
#createOrders_articleTable tr th:nth-child(7) {
	width: 10%;
}
#createOrders_articleTable .record_total {
	font-size: 12px;
}
#createOrders_articleTable tr td.scalable input {
	float: right;
}

#createOrders_articleTable tr td:nth-child(6) ,
#createOrders_articleTable tr th:nth-child(6) {
	width: 12%;
}


#customers_salesDocuments_table {
	font-size: 15px;
}
#customers_salesDocuments_table th th {
	font-size: 14px;
}


.add_price_table th{
	font-size: 13px;
}



.factor_holder {
	text-align: center;
	margin-top: 7px;
}

textarea.custom_input{
	font-size: 15px;
}
#dialog_plant_inv {
	height: 500px !important;
}

.pricePerUnit .group {
	padding-top: 5px;
	padding-left: 5px;
	font-size: 12px;
}

.prDetsTD{
	border-right: 2px solid #ccc
}

.advancedSearchButtonHolder{
	width:50px;
	float:left;
	fill:white;
	padding-top: 7px;
	padding-left:12px;
	margin: 7px 0 0 3px;
	border-radius: 5px 0 0 5px;
	z-index: 102;
	position: absolute;
	left: 230px;
}

#advancedSearchDialog input{
	width:50px;
}

#advancedSearchDialog div.middleDiv{
	margin-bottom: 10px;
	width:50%; 
	float:left;
}

.item_star.favorite_activity svg {
	fill: #ff840f !important;
}
.item_star_dtls.favorite_activity svg {
    fill: #ff840f !important;
}
.item_star{
	float: right !important;
	padding-right: 15%;
}

.item_star_dtls{
	float: right !important;
	padding-right: 29%;
	padding-top: 2%;
}

.item_star_doc_list
{
	float: right !important;
	padding-right: 45%;
}

.item_star_doc_list.favorite_activity svg {
	fill: #ff840f !important;
}

#all_customers
{

	background-size:27px;
	border-top:1px solid #1f1f1f;
	border-right:1px solid #1f1f1f;
}
#my_customers{

	background-size:24px;
	border-top:1px solid #1f1f1f;
	border-left:1px solid #1f1f1f;
}
#my_customers.active, #all_customers.active{
	background-color:#2b2b2b;
	border:none;
}

#all_activities
{

	background-size:27px;
	border-top:1px solid #1f1f1f;
	border-right:1px solid #1f1f1f;
}
#my_activities{

	background-size:24px;
	border-top:1px solid #1f1f1f;
	border-left:1px solid #1f1f1f;
}
#my_activities.active, #all_activities.active{
	background-color:#2b2b2b;
	border:none;
}

#fltr_activities.active, #fltr_documents.active{
	background-color: #2b2b2b;
	border: none;
}

.salesDoc_validTo
{
	border: 2px solid #c2c2c2;
	box-shadow: 2px 2px 2px #888888;
	padding: 1px 5px 1px 5px;
}

.bonusGreenBubble
{
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: green;
	display: block;
	float: left;
	margin: 20px 0px 0px 10px;
}

#customers_salesDocuments_table th:nth-child(1)
{
	width:23% !important;
}
#customers_salesDocuments_table th
{
	width:19%;
}

.listViewFlag_SalesActy {
	border-radius: 50%;
	width: 10px;
	height: 10px;
	background: #1E90FF;
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}

.customerNavigation
{
	color: blue;
	text-decoration: underline;
}

#reminderDtlsTable th.header{
	word-break: keep-all !important;
}

#reminderDtlsTable th.header div{
	text-indent: 0px !important;
	margin-left: 10px;
}

#reminderDtlsTable th:nth-child(1) {
	width: 13%;
}
#reminderDtlsTable th:nth-child(2) {
	width: 20%;
}
#reminderDtlsTable th:nth-child(3) {
	width: 19%;
}
#reminderDtlsTable th:nth-child(4) {
	width: 16%;
}
#reminderDtlsTable th:nth-child(5) {
	width: 16%;
}
#reminderDtlsTable th:nth-child(6) {
	width: 16%;
}


