
/* Body style */
body {
	/* font-family: 'HelveticaBQ-Light', Arial, sans; */
	font-family: HelveticaNeue, Arial, sans-serif;
	font-size: 17px;
	color: #000;
	min-width: 1000px;
	min-height: 650px;
}


/* Login Screen START */
	/* Full sized background image for the whole Login screen */
	.full_size{
		background-image: url(../img/Background.jpg);
	}
	/* Background image of the form */
	#login{
		background-image:url(../img/loginForm_background.png);
		min-width: 400px;
	}
	/* Logo */
	#login_logo{
		background: url(../img/logo_mainLogo.png) no-repeat;
		background-size:250px 122px;
		width:250px;
		height:122px;
	}
	/* Form horizontal separator */
	.separator{
		background: #e2382a;
		height:1px;
	}
	/* Form heading text */
	#form_heading{
		font-size:40px;
		color:#e2382a;
	}
	/*  Label for each one input */
	.label{
		color:#e2382a;
		font-size:16px;
	}
	/* Form's inputs style  */
	.custom_input{
		color:#596175;
		border:1px solid #c4c4c4;
	}
	/* Login button's style */
	.clean_button {
		background:#e2382a;
		color:#ffffff;
		font-size:20px;
		border-radius:5px;
		text-transform:uppercase;
		text-align:center;
	}

	/* Warning message style. If the username or password doesn't correct warning message appear with the following style */
	.warningMsg {
		color: #ff0000;
		border-top: 1px solid #e2382a;
	}
	/* Style for inputs with incorrect or not filled data */
	.warningInput {
		border: 1px solid #ff0000;
	}
/* Login Screen END */


/* Page Header START */
	/* Style for inner header */
	#pageHeader {
		background-color: #e2382a;
		border-bottom: 1px solid #fff
	}
	/* Inner logo  */
	.header_logo {
		
		/*background: url('../img/sales_plus_logo.png') no-repeat;*/
		background-size: 232px 50px;
		background-position: 18px 8px;
		
		height: 58px;
		width: 165px;
		margin-right: 20px;
	}
    .logo0400 {
		background: url('../img/vkorgs/0400.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
	.logoDefault {
		background: url('../img/sales_plus_logo.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo0500 {
		background: url('../img/vkorgs/0500.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo0600 {
		background: url('../img/vkorgs/0600.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo0900 {
		background: url('../img/vkorgs/0900.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1100 {
		background: url('../img/vkorgs/1100.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1200 {
		background: url('../img/vkorgs/1200.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1300 {
		background: url('../img/vkorgs/1300.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1400 {
		background: url('../img/vkorgs/1400.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1500 {
		background: url('../img/vkorgs/1500.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1800 {
		background: url('../img/vkorgs/1800.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo1900 {
		background: url('../img/vkorgs/1900.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
    .logo2000 {
		background: url('../img/vkorgs/2000.png') no-repeat;
		background-size: auto 50px;
		background-position: center right;
	}
/* Page Header END */
	.inv_loader{
		width: 20px;
		height: 20px;
		background: url(../img/inv_loader.gif) no-repeat;
		display: block;
		float:left;
		margin: 15px
	}

/* Page Main Nav START */
	/* Header links style */
	#pageNav > ul > li > a {
		color: white;
		font-size: 18px;
	}
	/* Active arrow for current screen */
	#pageNav > ul > li > .active_arrow {
		border-style: solid;
		border-width: 0 10px 10px 10px;
		border-color: transparent transparent #f9f9f9 transparent;
	}
	/* Refresh button which is placed in header */
	#refreshBut {
		background: url(../img/icon_synch.png) no-repeat;
		background-size: 47px 47px;
		width: 47px;
		height: 47px;
	}
/* Page Main Nav END */


/* Page Aside START */
	/* Left aside background color */
	#pageAside {
		background-color: #2b2b2b;
	}
	/* Border for each one listed element in left page aside */
	#pageAside ul li {
		border-top: 1px solid #424242;
	}
	/* Font size and color for each one link in left page aside */
	#pageAside ul li a {
		font-size: 16px;
		color: #fff;
	}
	/* Color for each one span in left page aside */
	#pageAside span {
		color: #fff;
	}
	/* Style for each one distane element in left page aside */
	#pageAside ul li a .distance {
		font-size: 12px;
		background-color: #e2382a;
	}
	/* Style for each one address element in left page aside */
	#pageAside ul li a .address {
		font-size: 12px;
	}
	/* Style for each one active listed element in left page aside */
	#pageAside ul .active {
		background-color: #1A1B1C;
	}
	#pageAside ul .activeLongPress {
		background-color: #fff;
	}
	#pageAside ul .activeLongPress span {
		color: #000 !important;
	}
	#pageAside span

	/* Search bar style */
	.search_holder .search_icon {
		background: url(../img/search_icon.png) no-repeat;
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
	}
	/* Search bar color for input query */
	.search_holder input {
		color: #000;
	}
/* Page Aside END */


/* Page Section START */
	/* Right part (interactive side) background color */
	#pageContent {
		/*background: url('../img/background_villiger_opacity.jpg') -125px; */
		background-size: 1000px;
	}
/* Page Section END */


/* Customer Screen - START */

	/* Background for current customer header block */
	#information_holder,
	.header_info_holder {
		background:#e0e3ed;
	}
	/* Default avatar for each one customer */
	.avatar_company{
		background-color:#ffffff;
		background:url('../img/avatar.png') no-repeat #fff;
		background-position: center center;
		background-size:111px 101px;
	}
	/* Default avatar for each one person */
	.avatar_person {
		background:url('../img/avatar_person.png') no-repeat #fff;
		background-position: center center;
		background-size:111px 101px;
	}
	/* Default avatar for each one order */
	.avatar_orders{
		background:url('../img/avatar_sales_order.png') no-repeat #fff;
		background-position: center center;
		background-size:130px auto;
	}
	/* Information for customer, person, order which is placed on the right side of avatar image */
	#actual_info,
	.header_info_holder {
		color:#596175;
	}
	/* Default icon for each one company */
	#company_name .icon{
		background:url('../img/company_icon.png') no-repeat;
		background-position:center center;
		background-size:24px 22px;
		height:28px;
	}
	/* Default icon for each one user */
	#user .icon{
		background:url('../img/user_icon.png') no-repeat;
		background-position:center center;
		background-size:24px 22px;
		width:24px;
		height: 22px;
	}
	/* Default place icon */
	#place .icon{
		background:url('../img/place_icon.png') no-repeat;
		background-size:10px 17px;
		background-position: center center;
		height:18px;
	}	
	/* Font size and color for each one Company name */
	#company_name{
		font-size:20px;
		color:#596175;
	}
	/* Font size for user and place information */
	#user,#place{
		font-size:16px;
	}
	/* Font size for person  Company name */
	#personDetails_holder #company_name{
		font-size: 16px;
	}
	/* Font size for person  Company name */
	#personDetails_holder #username{
		font-size: 25px;
	}
	.contact_name {
		font-size: 25px;
		padding-left: 35px;
		background:url('../img/user_icon.png') no-repeat;
		background-position:left 4px;
		background-size:24px 22px;
		margin-left: 15px;
	}
	/* Person icon image */
	#personDetails_holder #user .icon{
		background-image:url('../img/person_icon_big.png');
		height:28px;
		background-size:24px 22px;
	}
	/* Person company icon */
	#personDetails_holder #company_name .icon{
		height:18px;
		background-size:16px 14px;
	}
	/* Color and font size for additional information for current customer, person */
	.info{
		font-size:18px;
		color:#596175;
		border-bottom:1px solid #e0e3ed;
	}
	/* Title for each one column in additional information */
	.title{
		font-size:16px;
		color: #e2382a;
	}
/* Customer Screen - END */


/* Buttons Styles START */
	/* The basic style for the edit, delete, save, addPerson buttons */
	.defaultBut, .noMarginBut {
		background-size: 42px 33px;
		color: #fff;
		font-size: 16px;
		background-color: #e2382a;
		margin-left: 10px;
	}
	.noMarginBut {
		margin-left: 0;
	}
	/* Edit button image and background color */
	.edit{
		background: url('../img/edit_icon.png') no-repeat 10px center #e2382a;
		background-size: 18px 18px;
	}
	.follow_up_icon{
		background: url('../img/follow_up_icon.png') no-repeat 10px center transparent;
		background-size: 20px 18px;
		padding: 0 20px 0 35px !important;
	}
	.email_icon{
		background: url('../img/email_icon.png') no-repeat 10px center transparent;
		background-size: 18px 18px;
		padding: 0 20px 0 35px !important;
	}
	/* Delete button image and background color */
	.delete{
		background:url('../img/delete_icon.png') no-repeat 10px center #e2382a;
		background-size: 18px 18px !important;
	}
	/* Save button image and background color */
	.save{
		background:url('../img/save_icon.png') no-repeat 10px center #e2382a;
		background-size: 18px 18px !important;
	}
	.backBut {
		padding: 0 15px 0 20px;
		text-indent: 0;
		margin-right: 10px;
		width: 100px;
		text-align: center;
	}

	 /* START Changes after Villiger Transport */
    .cancel{
		background:url('../img/cancel_icon.png') no-repeat 10px center #e2382a;
		background-size: 18px 18px !important;
	}
     /* END Changes after Villiger Transport */
     

/* Buttons Styles END */


/* Products - START */
	/* Background for right interactive side */
	#bg{
		background:#ffffff;
	}
	/* Font size and color for each one product title  */
	.product_title {
		font-size: 22px;
		color: #596175;
		font-weight: normal;
	}
	/* Background color for header block for single products */
	#head_information{
		background-color:#e0e3ed;
	}
	/* Background color of avatar image of single product */
	.product{
		background-color:#ffffff;
	}
	/* Color for product information which is placed next to product avatar on the right side */
	#product_information{
		color:#596175;
	}
	/* Color and font size for General products data */
	.productsTable {
		color: #596175;
		font-size: 14px;
		font-weight:bold;
	}
	/* Style for value of each one property of General Data table */
	.productsTable div:last-child{
		color:#596175;
		text-transform:uppercase;
		font-weight: normal;
	}
	/* Background color for odd table row */
	.productsTable tr {
		background-color: #e9ebf2;
	}
	/* Background color for even table row */
	.productsTable tr:nth-child(even) {
		background-color: #f1f2f7;
	}
	/* Background color, color, font-size for table heads */
	.productsTable th {
		background-color: #ced1da;
		color: #e2382a;
		font-size: 16px;
	}	
/* Products - END */


/* Customers Down Nav START */
	/* Down navigation background color and border color */
	#pageDownNav {
		background-color: #ebe9ea;
		border-top: 2px solid #e2382a;
	}
	/* For each one tab border color and text align */
	#pageDownNav ul li {
		border-right: 1px solid #fff;
		border-left: 1px solid #bcbcbc;
		text-align: center;
	}
	#pageDownNav.DownNavSalesActivities ul li:last-child,
	#pageDownNav.downNav_products ul li:last-child {
		border-right: 1px solid #bcbcbc;
	}
	/* Style for text (links) in each one tab */
	#pageDownNav ul li a {
		text-transform: uppercase;
		color: #e2382a;
		font-size: 13px;
	}
	/* Background color for active tabs */
	#pageDownNav ul .active {
		background-color: #e2382a;
	}
	/* Color for text(links) which are placed in active tab */
	#pageDownNav ul .active a {
		color: #fff;
	}
	/* General button image */
	#but_general, #but_header {
		background: url('../img/icon_downMenu_1.png') no-repeat center 9px;
		background-size: 22px 27px;
	}
	/* General button image when button is active */
	#but_general.active a, #but_header.active a {
		background: url('../img/icon_downMenu_1_active.png') no-repeat center 9px;
		background-size: 22px 27px;
	}
	/* Contacts button image */
	#but_contacts a {
		background: url('../img/icon_downMenu_2.png') no-repeat center 9px;
		background-size: 33px 27px;
	}
	/* Contacts button image when button is active */
	#but_contacts.active a {
		background: url('../img/icon_downMenu_2_active_new.png') no-repeat center 9px;
		background-size: 33px 27px;
	}
	/* Map button image */
	#but_map {
		background: url('../img/icon_downMenu_3.png') no-repeat center 9px;
		background-size: 24px 27px;
	}
	/* Map button image when button is active */
	#but_map.active a {
		background: url('../img/icon_downMenu_3_active.png') no-repeat center 9px;
		background-size: 24px 27px;
	}
	/* Orders button image */
	#but_orders, #but_article {
		background: url('../img/icon_downMenu_4.png') no-repeat center 9px;
		background-size: 25px 27px;
	}
	/* Orders button image when button is active */
	#but_orders.active a, #but_article.active a {
		background: url('../img/icon_downMenu_4_active.png') no-repeat center 9px;
		background-size: 25px 27px;
	}
	/* Visits button image */
	#but_visits a {
		background: url('../img/icon_downMenu_5.png') no-repeat center 9px;
		background-size: 54px 27px;
	}
	/* Visits button image when button is active */
	#but_visits.active a {
		background: url('../img/icon_downMenu_5_active_new.png') no-repeat center 9px;
		background-size: 54px 27px;
	}
	/* Reports button image */
	#but_reports {
		background: url('../img/icon_downMenu_6.png') no-repeat center 9px;
		background-size: 26px 27px;
	}
	/* Reports button image when button is active */
	#but_reports.active a {
		background: url('../img/icon_downMenu_6_active.png') no-repeat center 9px;
		background-size: 26px 27px;
	}
/* Customers Down Nav END */


/* Customers Quick Menu START */
	/* Quick Menu button background image */
	.quickNav_holder {
		background: url(../img/quickNav_background.png);
	}
	/* Color for text placed in Quick Menu */
	.circles_holder {
		color: #fff;
	}
	/* Style for text holder for each one tab */
	.circles_holder span {
		border-radius: 15px;
		margin: 6px 18px 0 0;
		background-color: #10100f;
		min-width: 140px;
		padding: 0 20px;
		line-height: 30px;
		text-align: center;
	}
	.circles_holder_withIcons span {
		padding: 0 20px 0 40px;
	}
	/* Dimensions for each one circle */
	.default_circle {
		width: 44px;
		height: 44px;
	}
	/* Style for interactive button (toggle button) */
	.but_circle {
		background: url(../img/icon_plus.png) no-repeat center center #e2382a;
		background-size: 11px 12.5px;
	}
	/* Background image for order circle */
	.order_circle {
		background: url(../img/icon_orders.png) no-repeat center center #ce4521;
		background-size: 18px 24px;
	}
	/* Background image for email circle */
	.email_circle {
		background: url(../img/icon_email.png) no-repeat center center #004eff;
		background-size: 24px 18px;
	}
	/* Background image for visit circle */
	.visitReport_circle {
		background: url(../img/icon_visitReport.png) no-repeat center center #f4a127;
		background-size: 16px 16px;
	}
	/* Background image for contact circle */
	.contact_circle {
		background: url(../img/icon_contacts.png) no-repeat center center #51b382;
		background-size: 26px 26px;
	}
	/* Background image for customer circle */
	.customer_circle {
		background: url(../img/icon_customer.png) no-repeat center center #4da6c6;
		background-size: 25px 23px;
	}
/* Customers Quick Menu END */


/* Around Me Screen START */
	/* Map zoom menu background and border */
	#map_zoomLevel ul {
		border: 1px solid #252525;
		background-color: #2b2b2b;
	}
	/* Map zoom menu text color, font size and border color */
	#map_zoomLevel ul li a {
		font-size: 16px;
		color: #818181;
		border-bottom: 1px solid #252525;
	}
	/* Zoom icon */
	#map_zoomLevel ul li a .zoom_icon {
		background: url('../img/icon_mapZoom.png') no-repeat center center;
		background-size: 22px 30px;
		border-right: 1px solid #1e1e1e;
		width: 38px;
		height: 26px;
	}
	/* Background color and color for active tab */
	#map_zoomLevel ul li .active {
		background-color: #002941;
		color: #fff;
	}
	/* Active Zoom icon */
	#map_zoomLevel ul li .active .zoom_icon {
		background: url('../img/icon_mapZoom_active.png') no-repeat center center;
		background-size: 22px 30px;
	}
/* Around Me Screen END */


/* Reports Table START */
	.reportTable {
		color: #596175;
		font-size: 14px;
	}
	.reportTable tr {
		background-color: #e9ebf2;
	}
	.reportTable tr:nth-child(even) {
		background-color: #f1f2f7;
	}
	.reportTable th {
		background-color: #ced1da;
		color: #e2382a;
		font-size: 16px;
	}
/* Reports Table END */


/* Orders Table START */
	/* Order table background color for each one odd table row */
	.ordersTable tr,
	.defaultTable tr {
		background-color: #e9ebf2;
	}
	/* Order table background color for each even odd table row */
	.ordersTable tr:nth-child(even),
	.defaultTable tr:nth-child(even) {
		background-color: #f1f2f7;
	}
	/*.ordersTable tr td {
		border-right: 1px solid #d8dadf;
	}*/

	/* Last td border right style */
	.ordersTable tr td:last-child,
	.defaultTable tr td:last-child {
		border-right: none;
	}
	/* Last th border right style */
	.ordersTable tr th:last-child,
	.defaultTable tr th:last-child {
		border-right: none;
	}
	/* Table head background color, color, font size */
	.ordersTable th,
	.defaultTable th {
		background-color: #ced1da;
		color: #e2382a;
		font-size: 16px;
	}
/* Orders Table END */


/* Orders Details Table START */
	.ordersDetailsTable td, th {
		line-height: 22px;	
	}
	/* Order table background color for each one odd table row */
	.ordersDetailsTable tr {
		background-color: #e9ebf2;
	}
	.ordersDetailsTable td:last-child {
		width: 45%;
	}
	#order_details .ordersDetailsTable td:last-child {
		width: 18%;
	}

	/* Order table background color for each even odd table row */
	.ordersDetailsTable tr:nth-child(even) {
		background-color: #f1f2f7;
	}
	/*.ordersDetailsTable tr td {
		border-right: 1px solid #d8dadf;
	}*/

	/* Last td border right style */
	.ordersDetailsTable tr td:last-child {
		border-right: none;
	}
	/*.ordersDetailsTable tr th {
		border-right: 1px solid #c2c5cd;
	}*/
	/* Last th border right style */
	.ordersDetailsTable tr th:last-child {
		border-right: none;
	}
	/* Table head background color, color, font size */
	.ordersDetailsTable th {
		background-color: #ced1da;
		color: #e2382a;
		font-size: 16px;
	}
/* Orders Details Table END */


/* Add New Table START */
	/* Table head background color */
	.addNewContactTable th {
		background-color: #e0e3ed;
	}
	/* Cell background background color */
	.addNewContactTable td {
		background-color: #f1f2f7;
		width: 50%;
	}
	/* Cell background padding */
	.addNewContactTable td {
		padding: 5px 0;
	}
	/* Cell background color */
	.addNewContactTable {
		color: #e2382a;
	}
/* Add New Table END */


/* Settings Table START */
	/* Settings table background color for each one odd table row */
	.settingsTable tr {
		background-color: #e9ebf2;
		width: 25%;
	}
	/* settings table background color for each even odd table row */
	.settingsTable tr:nth-child(even) {
		background-color: #f1f2f7;
	}
	/*.settingsTable tr td {
		border-right: 1px solid #d8dadf;
	}*/

	/* Last td border right style */
	.settingsTable tr td:last-child {
		border-right: none;
	}
	/*.settingsTable tr th {
		border-right: 1px solid #c2c5cd;
	}*/
	/* Last th border right style */
	.settingsTable tr th:last-child {
		border-right: none;
	}
	/* Table head background color, color, font size */
	.settingsTable th {
		background-color: #ced1da;
		color: #e2382a;
		font-size: 16px;
	}
/* Orders Table END */

/* Delete Item from Orders Table Button */
.deleteItem {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 50%;
	margin-top: -15px;
	right: 0;
	background: url(../img/red_minus.png) no-repeat center center;
	/*background-size: 11px 12.5px;
	-webkit-transform: rotate(-90deg);*/
}

.green_tick, .green {
	color: green !important;
}
.redButton {
	background-color: #e2382a;
}

div.sync_menu{
	background-color: #313131;
	color: #f1f1f1;
	float:right;
	display: none;
}	

div.sync_menu span{
	height:50px;
	float: left;
	clear: both;
	line-height: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

#refreshBut2{
	background: url('../img/icon_refresh_small.png') no-repeat 5px 5px;
}

#refreshBut3{
	background: url('../img/sync_log_icon.png') no-repeat 12px 15px;
}


.maktx_bold{
	font-size: 18px;
	font-weight: bold;
}

.dialog_label_followUp{
	margin-top:10px;
	margin-right:45px;
}

.dialog_input_followUp{
	height:40px;
	width:190px;
	float:right;
}
.scalable {
	background: url(../img/scale_icon.png) no-repeat 3px 21px;
	background-size: 23px 20px;
}

.salesOrderBottomMenu li:last-child{
	border-right: 1px solid #bcbcbc !important;
}

.android_menu_border {
	border-top: 1px solid #4e4e4e;
}

#syncLogTable th{
	width:11%;
}
#syncLogTable th:first-child{
	width:13%;
}
#syncLogTable th:last-child{
	width:48%;
}
.heading_title {
	margin-top: 20px;
	color: #e2382a;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	padding-left: 160px;
}

.delete_all_log{
	color:white;
	position:relative;
	border-radius: 4px;
	text-align: right;
	padding-right: 15px;
	padding-left:40px;
	float:right;
	margin-top:20px;
	height: 30px;
	line-height:30px;
	background:url('../img/delete_icon.png') no-repeat 10px center red;
	background-size: 18px 18px !important;
}

.pricePerUnit span{
	text-align: left;
	padding-left: 8px;
}

.scalable span{
	text-align: right !important;
	padding-right: 8px;
}

.factor_holder{
	text-align: left;
}

#syncSalesData
{
	background: url('../img/refreshSalesData.png') no-repeat 12px 10px;
	background-size: 30px 30px;
}
